In [15]:
# Importancion de los datos limpiados en open refine
import pandas as pd
df=pd.read_excel("data.xlsx")
df

,ID,Clasificación,Tipo,Cantidad,p_maximo,p_minimo,p_promedio,peso_promedio,Valor_animal
0,1,PRIMERA,ML,178,6400,4000,5452,177,968378
1,2,PRIMERA,MC,36,5350,4580,5076,296,1502693
2,3,PRIMERA,TO,2,4500,4420,4460,705,3144300
3,4,PRIMERA,HL,56,5000,3950,4525,199,900927
4,5,PRIMERA,HV,8,4200,3850,4050,336,1362150
5,6,PRIMERA,VE,31,4050,2700,3699,362,1342519
6,7,PRIMERA,VP,21,4350,3850,4066,455,1850333
7,8,SEGUNDA,ML,238,5750,3400,4770,165,788592
8,9,SEGUNDA,MC,20,5050,3700,4587,288,1323063
9,10,SEGUNDA,TO,1,4380,4380,4380,528,2312640
10,11,SEGUNDA,HL,12,4650,3300,3912,179,702293
11,12,SEGUNDA,VE,17,3900,3300,3650,328,1197930
12,13,SEGUNDA,VP,2,4050,3350,3700,404,1494800

## Crear la conexión a SQLite

In [33]:
import sqlite3
conexion=sqlite3.connect("bd1.db")
df.to_sql("animales", conexion, if_exists="replace", index=False)

## Consultas

In [17]:
# Consultar todos los animales que se clasifican como PRIMERA
consulta1 = "SELECT * FROM animales WHERE Clasificación = 'PRIMERA'"
result1 = pd.read_sql_query(consulta1, conexion)
print(result1)

   ID Clasificación Tipo  Cantidad  p_maximo  p_minimo  p_promedio  \
0   1       PRIMERA   ML       178      6400      4000        5452
1   2       PRIMERA   MC        36      5350      4580        5076
2   3       PRIMERA   TO         2      4500      4420        4460
3   4       PRIMERA   HL        56      5000      3950        4525
4   5       PRIMERA   HV         8      4200      3850        4050
5   6       PRIMERA   VE        31      4050      2700        3699
6   7       PRIMERA   VP        21      4350      3850        4066

   peso_promedio  Valor_animal
0            177        968378
1            296       1502693
2            705       3144300
3            199        900927
4            336       1362150
5            362       1342519
6            455       1850333

In [18]:
# Consultar animales con un peso maximo de 5000 kg

consulta2 = "SELECT * FROM animales WHERE p_maximo >=5000"
result2 = pd.read_sql_query(consulta2, conexion)
print(result2)

   ID Clasificación Tipo  Cantidad  p_maximo  p_minimo  p_promedio  \
0   1       PRIMERA   ML       178      6400      4000        5452
1   2       PRIMERA   MC        36      5350      4580        5076
2   4       PRIMERA   HL        56      5000      3950        4525
3   8       SEGUNDA   ML       238      5750      3400        4770
4   9       SEGUNDA   MC        20      5050      3700        4587

   peso_promedio  Valor_animal
0            177        968378
1            296       1502693
2            199        900927
3            165        788592
4            288       1323063

In [24]:
# Consultar la cantidad de animales vendidos

consulta3 = "SELECT SUM(Cantidad) AS total  FROM animales"
result3 = pd.read_sql_query(consulta3, conexion)
print(result3)

   total
0    622

In [25]:
# Consultar la longitud de los datos

consulta4 = "SELECT count(*) AS longitud  FROM animales"
result4 = pd.read_sql_query(consulta4, conexion)
print(result4)

   longitud
0        13

In [32]:
# recuperar la primera fila 
co = "SELECT * FROM animales LIMIT 1"
result5 = pd.read_sql_query(co, conexion)
print(result5)

ProgrammingError: Cannot operate on a closed database.

In [34]:
# Solicitar al usuario el tipo de animal
tipo_animal = input("Ingrese el tipo de animal a buscar (ejemplo: ML, MC, TO): ").strip()

# Ejecutar consulta para buscar coincidencias en la columna "tipo"
cursor = conexion.execute("SELECT * FROM animales WHERE Tipo LIKE '%' || ? || '%'", (tipo_animal,))
fila = cursor.fetchone()

# Verificar si se encontró algún resultado
if fila is not None:
    print("Registro encontrado:", fila)
else:
    print("No se encontró el tipo de animal ingresado.")

Ingrese el tipo de animal a buscar (ejemplo: ML, MC, TO): TO
Registro encontrado: (3, 'PRIMERA', 'TO', 2, 4500, 4420, 4460, 705, 3144300)

In [37]:
# Insertar un nuevo registro

nueva_fila = ('TERCERA', 'ML', 120.0, 5500.0, 3900.0, 5200.0, 190.0, 1150000.0)

# Insertar la nueva fila
conexion.execute("INSERT INTO animales (Clasificación, Tipo, Cantidad, p_maximo, p_minimo, p_promedio, peso_promedio, valor_animal) VALUES (?, ?, ?, ?, ?, ?, ?, ?)", nueva_fila)

# Confirmar los cambios
conexion.commit()


co2 = "SELECT * FROM animales LIMIT 14"
result6 = pd.read_sql_query(co2, conexion)
print(result6)

      ID Clasificación Tipo  Cantidad  p_maximo  p_minimo  p_promedio  \
0    1.0       PRIMERA   ML       178      6400      4000        5452
1    2.0       PRIMERA   MC        36      5350      4580        5076
2    3.0       PRIMERA   TO         2      4500      4420        4460
3    4.0       PRIMERA   HL        56      5000      3950        4525
4    5.0       PRIMERA   HV         8      4200      3850        4050
5    6.0       PRIMERA   VE        31      4050      2700        3699
6    7.0       PRIMERA   VP        21      4350      3850        4066
7    8.0       SEGUNDA   ML       238      5750      3400        4770
8    9.0       SEGUNDA   MC        20      5050      3700        4587
9   10.0       SEGUNDA   TO         1      4380      4380        4380
10  11.0       SEGUNDA   HL        12      4650      3300        3912
11  12.0       SEGUNDA   VE        17      3900      3300        3650
12  13.0       SEGUNDA   VP         2      4050      3350        3700
13   NaN       TERCERA   ML       120      5500      3900        5200

    peso_promedio  Valor_animal
0             177        968378
1             296       1502693
2             705       3144300
3             199        900927
4             336       1362150
5             362       1342519
6             455       1850333
7             165        788592
8             288       1323063
9             528       2312640
10            179        702293
11            328       1197930
12            404       1494800
13            190       1150000

In [ ]:
# Solicitar al usuario los datos para la nueva fila
Clasificación = input("Ingrese la clasificación (ej. PRIMERA, SEGUNDA, etc.): ")
Tipo = input("Ingrese el tipo de animal (ej. ML, MC, TO): ")
Cantidad = float(input("Ingrese la cantidad de animales: "))
p_maximo = float(input("Ingrese el precio máximo: "))
p_minimo = float(input("Ingrese el precio mínimo: "))
p_promedio = float(input("Ingrese el precio promedio: "))
peso_promedio = float(input("Ingrese el peso promedio: "))
valor_animal = float(input("Ingrese el valor del animal: "))

# Crear la nueva fila
nueva_fila = (Clasificación, Tipo, Cantidad, p_maximo, p_minimo, p_promedio, peso_promedio, valor_animal)

# Insertar la nueva fila en la tabla
conexion.execute("INSERT INTO animales (Clasificación, Tipo, Cantidad, p_maximo, p_minimo, p_promedio, peso_promedio, valor_animal) VALUES (?, ?, ?, ?, ?, ?, ?, ?)", nueva_fila)

# Confirmar los cambios
conexion.commit()

# Verificar si la fila se insertó correctamente
cursor = conexion.execute("SELECT * FROM animales WHERE Clasificación = ? AND tipo = ? AND Cantidad = ?", (Clasificación, Tipo, Cantidad))
fila = cursor.fetchone()

if fila:
    print("Fila insertada correctamente:", fila)
else:
    print("No se insertó la fila.")